<nav class="navbar fixed-bottom mt-5" style="background-color:rgb(65,105,225) ; height:100px;">
   
    <div class="container">
    <div class="col-6">
        <div class="text-center">
            <a class="" href="#" ><h5>Aide</h5></a>
            <a class="" href="#" ><h5>FAQ</h5></a>
            <a class="" href="#" ><h5>Contact</h5></a>    
       </div>
    </div>
    
    <div class="col-6">
        <div class="text-center">
            <a class="" href="#"><h4>A propos de Masape</h4></a>
            <a class="" href="#"><h5>Espace Client</h5></a>
            <a class="" href="#"><h5>Qui sommes nous</h5></a>
        </div>
    </div>
  </div>
 </nav>
