
<br><br><br>
<div class=" panier-container">

    <div class="article 1">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, ipsa?</p>
    </div>
    <div class="article2">

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, ipsa?</p>
    </div>
    <div class="article3">

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, ipsa?</p>
    </div>
    <div class="article4">

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, ipsa?</p>
    </div>
    <div class="article5">

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, ipsa?</p>
    </div>
    <div class="article6">

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, ipsa?</p>
    </div>
    <div class="article7">

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, ipsa?</p>
    </div>
    <div class="article8">

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, ipsa?</p>
    </div>
    <div class="article9">

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, ipsa?</p>
    </div>
    <div class="article10">

    </div>


</div>

<div class="container">
    <button class="submit btn-secondary btn-block"> Payer </button>
</div>


