<br><br><br><br><br><br><br>

<div class="card-1" style="height: 800px; overflow-y: auto">

    <div class="container-fluid" style="display: flex; flex-direction:column; justify-content: space-between;">

        <div class="article ">

            <img src="../../assets/img/5.png" alt="image">
            <p class="description" style="align-items: center;">
                lorem20qsddddsssssssssssssssssssssssssssssssssssssssssssssssssss Lorem ipsum dolor
                sit amet consectetur adipisicing elit. Consequatur, ipsa?</p><br>
            <div style="align-self: center;">
                <input type="text" name="prix" id="prix">
            </div>
            <div style="align-self: center;">
                <input class="quantité"  type="button" value="+1">
                <input type="text" name="quantite" id="quantité">
                <input class="quantité" type="button" value="-1">
            </div>
            <div style="align-self: center;">
                <input type="text" name="taille" id="taille">
            </div>
            <div style="align-self: center;">

                <input list="taille de vetements" id="taille de vetements" name="taille de vetements" />
                <datalist id="tailles">
                    <option value="xs">
                    <option value="M">
                    <option value="L">
                    <option value="XL">
                </datalist>

            </div>
            <div style="align-self: center;">
                <input type="text" name="affichage de prix total" id="prix-total">
            </div>
        </div>
        <div class="article ">

            <img src="../../assets/img/5.png" alt="image">
            <p class="description" style="align-items: center;">
                lorem20qsddddsssssssssssssssssssssssssssssssssssssssssssssssssss Lorem ipsum dolor
                sit amet consectetur adipisicing elit. Consequatur, ipsa?</p><br>
            <div style="align-self: center;">
                <input type="text" name="prix" id="prix">
            </div>
            <div style="align-self: center;">
                <input class="quantité"  type="button" value="+1">
                <input type="text" name="quantite" id="quantité">
                <input class="quantité" type="button" value="-1">
            </div>
            <div style="align-self: center;">
                <input type="text" name="taille" id="taille">
            </div>
            <div style="align-self: center;">

                <input list="taille de vetements" id="taille de vetements" name="taille de vetements" />
                <datalist id="tailles">
                    <option value="xs">
                    <option value="M">
                    <option value="L">
                    <option value="XL">
                </datalist>

            </div>
            <div style="align-self: center;">
                <input type="text" name="affichage de prix total" id="prix-total">
            </div>
        </div>
        <div class="article ">

            <img src="../../assets/img/5.png" alt="image">
            <p class="description" style="align-items: center;">
                lorem20qsddddsssssssssssssssssssssssssssssssssssssssssssssssssss Lorem ipsum dolor
                sit amet consectetur adipisicing elit. Consequatur, ipsa?</p><br>
            <div style="align-self: center;">
                <input type="text" name="prix" id="prix">
            </div>
            <div style="align-self: center;">
                <input class="quantité"  type="button" value="+1">
                <input type="text" name="quantite" id="quantité">
                <input class="quantité" type="button" value="-1">
            </div>
            <div style="align-self: center;">
                <input type="text" name="taille" id="taille">
            </div>
            <div style="align-self: center;">

                <input list="taille de vetements" id="taille de vetements" name="taille de vetements" />
                <datalist id="tailles">
                    <option value="xs">
                    <option value="M">
                    <option value="L">
                    <option value="XL">
                </datalist>

            </div>
            <div style="align-self: center;">
                <input type="text" name="affichage de prix total" id="prix-total">
            </div>
        </div>
        <div class="article ">

            <img src="../../assets/img/5.png" alt="image">
            <p class="description" style="align-items: center;">
                lorem20qsddddsssssssssssssssssssssssssssssssssssssssssssssssssss Lorem ipsum dolor
                sit amet consectetur adipisicing elit. Consequatur, ipsa?</p><br>
            <div style="align-self: center;">
                <input type="text" name="prix" id="prix">
            </div>
            <div style="align-self: center;">
                <input class="quantité"  type="button" value="+1">
                <input type="text" name="quantite" id="quantité">
                <input class="quantité" type="button" value="-1">
            </div>
            <div style="align-self: center;">
                <input type="text" name="taille" id="taille">
            </div>
            <div style="align-self: center;">

                <input list="taille de vetements" id="taille de vetements" name="taille de vetements" />
                <datalist id="tailles">
                    <option value="xs">
                    <option value="M">
                    <option value="L">
                    <option value="XL">
                </datalist>

            </div>
            <div style="align-self: center;">
                <input type="text" name="affichage de prix total" id="prix-total">
            </div>
        </div>
        <div class="article ">

            <img src="../../assets/img/5.png" alt="image">
            <p class="description" style="align-items: center;">
                lorem20qsddddsssssssssssssssssssssssssssssssssssssssssssssssssss Lorem ipsum dolor
                sit amet consectetur adipisicing elit. Consequatur, ipsa?</p><br>
            <div style="align-self: center;">
                <input type="text" name="prix" id="prix">
            </div>
            <div style="align-self: center;">
                <input class="quantité"  type="button" value="+1">
                <input type="text" name="quantite" id="quantité">
                <input class="quantité" type="button" value="-1">
            </div>
            <div style="align-self: center;">
                <input type="text" name="taille" id="taille">
            </div>
            <div style="align-self: center;">

                <input list="taille de vetements" id="taille de vetements" name="taille de vetements" />
                <datalist id="tailles">
                    <option value="xs">
                    <option value="M">
                    <option value="L">
                    <option value="XL">
                </datalist>

            </div>
            <div style="align-self: center;">
                <input type="text" name="affichage de prix total" id="prix-total">
            </div>
        </div>
        <div class="article ">

            <img src="../../assets/img/5.png" alt="image">
            <p class="description" style="align-items: center;">
                lorem20qsddddsssssssssssssssssssssssssssssssssssssssssssssssssss Lorem ipsum dolor
                sit amet consectetur adipisicing elit. Consequatur, ipsa?</p><br>
            <div style="align-self: center;">
                <input type="text" name="prix" id="prix">
            </div>
            <div style="align-self: center;">
                <input class="quantité"  type="button" value="+1">
                <input type="text" name="quantite" id="quantité">
                <input class="quantité" type="button" value="-1">
            </div>
            <div style="align-self: center;">
                <input type="text" name="taille" id="taille">
            </div>
            <div style="align-self: center;">

                <input list="taille de vetements" id="taille de vetements" name="taille de vetements" />
                <datalist id="tailles">
                    <option value="xs">
                    <option value="M">
                    <option value="L">
                    <option value="XL">
                </datalist>

            </div>
            <div style="align-self: center;">
                <input type="text" name="affichage de prix total" id="prix-total">
            </div>
        </div>
</div>
<div class="container">
    <h3>Total de votre commande</h3>
    <input type="text" name="affichage de prix total" id="prix-total">
    <button class="submit btn-secondary btn-block"> Payer </button>
</div>