
 <br><br><br>
 <div > 

     <h1>Nos vetemens</h1>
</div>
<div class="row mx-auto container">
    <div class="product text-center col-lg-3 col-md-4 col-12">
        <img class="img-fluid mb-3 " src="https://assets.laboutiqueofficielle.com/w_1100,q_auto,f_auto/media/products/2019/04/30/urban-classics_182001_TB066_WHITE_20190509T101845_01.jpg">
        
        
        <div class="star">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
        </div>
        <h5 class="p-name">Casual long Sleeve</h5>
        <h4 class="p-price">140$</h4>
        <button class="buy-btn">Buy now</button>
    </div>
    <div class="product text-center col-lg-3 col-md-4 col-12">
        <img class="img-fluid mb-3 " src="https://assets.laboutiqueofficielle.com/w_1100,q_auto,f_auto/media/products/2019/04/30/urban-classics_182001_TB066_WHITE_20190509T101845_01.jpg">
        
        
        <div class="star">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
        </div>
        <h5 class="p-name">Casual long Sleeve</h5>
        <h4 class="p-price">140$</h4>
        <button class="buy-btn">Buy now</button>
    </div>
    <div class="product text-center col-lg-3 col-md-4 col-12">
        <img class="img-fluid mb-3 " src="https://assets.laboutiqueofficielle.com/w_1100,q_auto,f_auto/media/products/2019/04/30/urban-classics_182001_TB066_WHITE_20190509T101845_01.jpg">
        
        
        <div class="star">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
        </div>
        <h5 class="p-name">Casual long Sleeve</h5>
        <h4 class="p-price">140$</h4>
        <button class="buy-btn">Buy now</button>
    </div>
    <div class="product text-center col-lg-3 col-md-4 col-12">
        <img class="img-fluid mb-3 " src="https://assets.laboutiqueofficielle.com/w_1100,q_auto,f_auto/media/products/2019/04/30/urban-classics_182001_TB066_WHITE_20190509T101845_01.jpg">
        
        
        <div class="star">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
        </div>
        <h5 class="p-name">Casual long Sleeve</h5>
        <h4 class="p-price">140$</h4>
        <button class="buy-btn">Buy now</button>
    </div>
    <div class="product text-center col-lg-3 col-md-4 col-12">
        <img class="img-fluid mb-3 " src="https://assets.laboutiqueofficielle.com/w_1100,q_auto,f_auto/media/products/2019/04/30/urban-classics_182001_TB066_WHITE_20190509T101845_01.jpg">
        
        
        <div class="star">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
        </div>
        <h5 class="p-name">Casual long Sleeve</h5>
        <h4 class="p-price">140$</h4>
        <button class="buy-btn">Buy now</button>
    </div>

    <div class="product text-center col-lg-3 col-md-4 col-12">
        <img class="img-fluid mb-3 " src="https://assets.laboutiqueofficielle.com/w_1100,q_auto,f_auto/media/products/2019/04/30/urban-classics_182001_TB066_WHITE_20190509T101845_01.jpg">
        
        
        <div class="star">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
        </div>
        <h5 class="p-name">Casual long Sleeve</h5>
        <h4 class="p-price">140$</h4>
        <button class="buy-btn">Buy now</button>
    </div>
    <div class="product text-center col-lg-3 col-md-4 col-12">
        <img class="img-fluid mb-3 " src="https://assets.laboutiqueofficielle.com/w_1100,q_auto,f_auto/media/products/2019/04/30/urban-classics_182001_TB066_WHITE_20190509T101845_01.jpg">
        
        
        <div class="star">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
        </div>
        <h5 class="p-name">Casual long Sleeve</h5>
        <h4 class="p-price">140$</h4>
        <button class="buy-btn">Buy now</button>
    </div>
    <div class="product text-center col-lg-3 col-md-4 col-12">
        <img class="img-fluid mb-3 " src="https://assets.laboutiqueofficielle.com/w_1100,q_auto,f_auto/media/products/2019/04/30/urban-classics_182001_TB066_WHITE_20190509T101845_01.jpg">
        
        
        <div class="star">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
        </div>
        <h5 class="p-name">Casual long Sleeve</h5>
        <h4 class="p-price">140$</h4>
        <button class="buy-btn">Buy now</button>
    </div>


</div>
