
 <br><br><br>
 <div > 

     <h1>Nos vetemens</h1>
</div>
<div class="pro">
    <div class="product text-center col-lg-3 col-md-4 col-12">
        <img class="img-fluid mb-3 " src="../assets/img/1.png">
        <div class="star">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
        </div>
        <h5 class="p-name">Casual long Sleeve</h5>
        <h4 class="p-price">140</h4>
        <button class="buy-btn">Buy now</button>
    </div>

</div>