<div>
    <nav class="navbar navbar-expand-lg " style="background-color: #fafdff;">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">home</a>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="#">connexoin
              </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">nos vetements</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Espace Client</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Qui sommes nous</a>
              </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            
          </form>
        </div>
      </nav>


      <div>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h3> NIKE AIRE MAX 90</h3>
                    <p> 
                        Il n'existe rien d’aussi aérien, confortable et inégalé. 
                        La Nike Air Max 90 reste fidèle au modèle de running d'origine
                    </p>
                </div>
                <div class="col-sm-6">
                    <img src="{{cheminImage}}" alt="">
                </div>
            </div>
        </div>
      </div>
</div>

<div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <ul>
                        <li><h3>AIDE</h3></li>
                        <li>Cnatanct us</li>
                        <li>FAQ</li>
                        <li>Mention Legal</li>
                        
                    </ul>
                </div>
                <div class="col-sm-6">
                    <ul>
                        <li><h3>A PRORPOS DE MASAPE</h3></li>
                        <li>Espace Client</li>
                        <li>Qui nous sommes </li>
                    </ul>
                </div>
            </div>
        </div>
      </footer>
</div>
<router-outlet></router-outlet>