<br><br><br>
<div class="container-fluid d-flex flex-row">
    <div class="d-flex flex colum">
        <div class="col-8">

            <div class="container p-5 my-5 border">
                <h3>FAQ</h3>
                <div class="container p-5 my-5 border">
                    <div class="modal-dialog modal-dialog-scrollable">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus, perspiciatis.</p>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus, perspiciatis.</p>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus, perspiciatis.</p>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus, perspiciatis.</p>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus, perspiciatis.</p>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus, perspiciatis.</p>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus, perspiciatis.</p>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus, perspiciatis.</p>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus, perspiciatis.</p>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus, perspiciatis.</p>
                    </div>
                </div>
            </div>
            <div class="container p-5 my-5 border">
                <h3>Mentions Légales</h3>
                <div class="container p-5 my-5 border">
                    <div class="modal-dialog modal-dialog-scrollable">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus, perspiciatis.</p>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus, perspiciatis.</p>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus, perspiciatis.</p>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus, perspiciatis.</p>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus, perspiciatis.</p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-4">
            <div class="container-fluid"></div>
                <div class="container  p-5 my-5 border">
                    <div>
                        <h3>Contact</h3>
                        <br><br>
                        <h4>Notre E-Mail</h4>
                        <br>
                        <h5 style="background-color:#f1f1f1;width: 245px;text-decoration: solid;">
                            contactmasape@gmail.com
                        </h5>
                    </div>
                    <br><br><br>
                    <div>
                        <h4>Hotline</h4>
                        <br>
                        <div class="card">
                            <span class="border border-3">
                                <p>Horaires d'ouverture</p>
                                <p>du Lundi au Vendredi</p>
                                <p>de 09h00 à 17h00</p>
                                <img class="card-img-bottom" src="src\assets\img\telephone.jpg" alt="telephone">
                                <p style="text-transform: capitalize;">0800 700 700</p>
                            </span>

                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>