<br><br><br><br><br><br>
<div class="container-fluid">
    <div class="card mb-2" style="max-width: auto;max-height: fit-content;">
        <div class="row ">
            <div class="col-md-6">
                <!-- Carousel wrapper -->
                <div id="carouselDarkVariant" class="carousel slide carousel-fade carousel-dark"
                    data-mdb-ride="carousel">
                    <!-- Indicators -->
                    <div class="carousel-indicators">
                        <button data-mdb-target="#carouselDarkVariant" data-mdb-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                        <button data-mdb-target="#carouselDarkVariant" data-mdb-slide-to="1"
                            aria-label="Slide 1"></button>
                        <button data-mdb-target="#carouselDarkVariant" data-mdb-slide-to="2"
                            aria-label="Slide 1"></button>
                    </div>

                    <!-- Inner -->
                    <div class="carousel-inner">
                        <!-- Single item -->
                        <div class="carousel-item active">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(19).webp" class="d-block w-1"
                                alt="Motorbike Smoke" />
                            <div class="carousel-caption d-none d-md-block">
                                <h5>First slide label</h5>
                                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                            </div>
                        </div>

                        <!-- Single item -->
                        <div class="carousel-item">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(35).webp" class="d-block w-100"
                                alt="Mountaintop" />
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Second slide label</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                        </div>

                        <!-- Single item -->
                        <div class="carousel-item">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(40).webp" class="d-block w-100"
                                alt="Woman Reading a Book" />
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Third slide label</h5>
                                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Inner -->

                    <!-- Controls -->
                    <button class="carousel-control-prev" type="button" data-mdb-target="#carouselDarkVariant"
                        data-mdb-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-mdb-target="#carouselDarkVariant"
                        data-mdb-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <!-- Carousel wrapper -->
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <h4 class="card-title">Casual long Sleeve</h4>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima quas corrupti
                        delectus quam quis non voluptatibus eos doloremque iusto animi.
                        content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>

                    <h4 class="p-price:$">$140</h4>
                    <hr>

                    <div class="container">
                        <h4>Tailles</h4>
                        
                            <div class="btn-group btn-lg">

                                <a class="btn btn-secondary" href="#">XS</a>
                                <a class="btn btn-secondary" href="#">M</a>
                                <a class="btn btn-secondary" href="#">L</a>
                                <a class="btn btn-secondary" href="#">XL</a>
                            </div>
                        
                    </div>
                    <hr>

                   
                    <button class=" buy-btn btn-danger btn-lg"><span class="fa fa-shopping-cart"></span><br>Buy Now</button>


                </div>
            </div>
        </div>
    </div>
</div>