<div class="container-fluid">
  <br>
  <h1 class="text-center mt-4">
    <span id="bg_color">
      Mon Espace
    </span>
  </h1>
  <br>
  <div class="row" id="row">
    <div class="col-sm-6">
      <div class="">
        <form #data="ngForm" (ngSubmit)="recupInfoLogin(data.value)">
          <div>
            <div class="card p-1 z-depth-3">
              <br>
              <div class="card-body" style=" box-shadow: 0 150px 50px 0 rgba(0,0,0,0);">
                <div class="md-form">
                  <label>Email</label>

                  <input type="text" name="email" class="form-control" ngModel="">
                </div>
                <div class="md-form">
                  <label>Prénom</label>

                  <input type="text" name="prenom" class="form-control" ngModel="">
                </div>

                <div class="md-form">
                  <label><i class="fa-solid fa-input-text"></i>Nom</label>

                  <input type="text" name="nom" class="form-control" ngModel="">
                </div>
                <div class="md-form">
                  <label>Adresse</label>
                  <br>
                  <input type="text" name="adresse" class="form-control" ngModel="">
                </div>
                <div class="md-form">
                  <label>Ville</label>

                  <input type="text" name="ville" class="form-control" ngModel="">
                </div>

                <div class="md-form">
                  <label>Téléphone</label>
                  <input type="tel" name="tel" class="form-control" ngModel="">
                </div>
                <div class="md-form text-center mt-2">
                  <button type="submit" class="btn btn-secondary btn-sn btn block rounded-pill">S'inscrire</button>
                </div>

              </div>

            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-sm-5 card p-1 z-depth-3">
      <h3 class="text-center"> Commandes</h3>
    </div>

  </div>
  <p> Vous êtes : {{ info | json}}</p>
  <hr>


    <form #pwdandconfirm="ngForm" (ngSubmit)="recupInfoPwd(pwdandconfirm.value)" >
      <div class="row" id="row_change_pwd">
     <p> Comment changer le mot de passe</p>
        <div class="md-form col-5">
          <label>Nouveau mot de passe</label>
          <br>
          <input type="text" name="newpwd" class="form-control" ngModel="" #datas>
        </div>
        <div class="md-form col-5">
          <label>Confirmer nouveau mot de passe</label>
          <br>
          <input type="text" name="confirmPwd" class="form-control" ngModel="">
        </div>

        <div class="md-form col-2 mb-4">
          <br>
          <button type="submit" class="btn btn-secondary btn-sn btn block rounded-pill" (click)="recupInfoPwd(datas.value)">Enregistrer</button>
        </div>
      </div>

    </form>
    <p> Votre mot de passe est : {{ datas | json}}</p>
</div>

