/* You can add global styles to this file, and also import other style files */
.lol{
    background: rgb(179, 179, 179);
}

.hi{
    background: rgb(109, 109, 223);
}

#bg_color, .btn-secondary{

  background: rgb(65,105,225) !important;
}
body{
    background-color:  #F5F5F5 !important;
}
#row{
  margin: auto;
}

#row .card{
  margin: 40px;
}
#row_change_pwd{
  margin-left: 4%;

}

