<div class="container, justify-content">
    <div class="row align-items-center">
        <div class="col-md-8">
            <app-produits></app-produits>
        </div>

        <div class="col-md-4 pagination-centered">
         
                <img  clas= "img-responsive center-block" src="../../assets/img/bg-promotions.png" alt="vente flash">
        
        </div>
    </div>
</div>
<!--<div>


    <div>
      <div class="container">
          <div class="row">
              <div class="col-sm-6">
                  <h3> NIKE AIRE MAX 90</h3>
                  <p> 
                      Il n'existe rien d’aussi aérien, confortable et inégalé. 
                      La Nike Air Max 90 reste fidèle au modèle de running d'origine
                  </p>
              </div>
              <div class="col-sm-6">
                  <img src="{{cheminImage}}" alt="">
              </div>
          </div>
      </div>
    </div>
</div>

-->